/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define SYM 1
#define FUN 2

&lt {
    tapping-term-ms = <180>;
    flavor = "tap-preferred";
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };

        combo_hyper {
            bindings = <&kp LS(LA(LC(LGUI)))>;
            key-positions = <20 21>;
        };

        combo_bckspc {
            bindings = <&kp BACKSPACE>;
            key-positions = <18 19>;
        };

        combo_return {
            bindings = <&kp RETURN>;
            key-positions = <30 31>;
        };

        combo_alfred {
            bindings = <&kp LA(TAB)>;
            key-positions = <37 38>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q    &kp W           &kp E             &kp R         &kp T                                         &kp Y      &kp U       &kp I      &kp O         &kp P
&kp A    &kp S           &kp D             &kp F         &kp G                                         &kp H      &kp J       &kp K      &kp L         &kp SEMICOLON
&kp Z    &kp X           &kp C             &kp V         &kp B             &kp ESCAPE   &kp BACKSPACE  &kp N      &kp M       &kp SLASH  &kp UP_ARROW  &kp SQT
&kp TAB  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_COMMAND  &lt 1 SPACE  &lt 2 RET      &kp COMMA  &kp PERIOD  &kp LEFT   &kp DOWN      &kp RIGHT
            >;
        };

        num_layer {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5                  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "Numbers";
        };

        sym_layer {
            bindings = <
&kp LS(EXCL)  &kp LS(AT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)                        &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)  &kp LS(LPAR)  &kp LS(RPAR)
&kp GRAVE     &trans      &trans         &trans        &trans                               &trans         &trans        &trans        &kp LBKT      &kp RBKT
&trans        &trans      &trans         &trans        &trans         &kp MINUS  &kp EQUAL  &trans         &trans        &kp BSLH      &kp LS(LBRC)  &kp LS(RBRC)
&trans        &trans      &trans         &trans        &trans         &trans     &trans     &trans         &trans        &trans        &trans        &trans
            >;

            label = "Symbols";
        };
    };
};
